* {
  box-sizing: border-box;
  /*Set default box-sizing.*/
}

.addmargin {
  margin-top: 30px;
  /*To give a little more cushion above certain elements.*/
}

.lesslower {
  margin-bottom: -6px;
}

.rounded {
  border-radius: 40px;
  /* Class to add rounded corners to an element.*/
}

.linkedin {
  border-radius: 50%;
  width: 25%;
  /* To specifically shape the LI profile thumbnail.*/
}

.lilogo{
  width: 60%;
  padding-left: 15px;
  padding-bottom: 16px;
  /* Class to specifically reduce the size and padding on the LI logo */
}

.ghlogo {
  width: 50%;
  /* Class to specifically reduce the size of the GH logo. */
}

.ghmark {
  width: 20%;
  /* Class to specifically reduce the size of the GH mark. */
}

.emlogo {
  /* Class to specificially reduce the size of the email logo.
  Note that I would probably just reduce the size of the images
  exterenally in a practical setting. */
  width: 20%;
}

.social {
  background-color: #fff;
  border: 3px solid #23231A;

  width: 300px;
  height: min-content;
  border-radius: 12px;
  text-align: center;
  margin: auto;
  margin-bottom: -7px;
/* A class to keep social media/contact links contained and organized.*/
}

.list {
  list-style-position: inside;
  width: 90%;
  height: max-content;
  margin: auto;
  margin-bottom: 20.5%;
  margin-top: 1%;
  padding: 10px;
  /* Style for the list container, to which lists can be added as articles. 
  This may be outside of the scope of the module, but I wanted to learn to
  place containers side by side and took the time to do so. */
}

.leftli {
  color: #B9C0BA;
  background-color: #23231A;
  border-radius: 20px;

  margin: auto;
  margin-left: 16.33%;
  margin-right: -17px;
  height: 180px;
  width: 250px;
 
  float: left;
  text-align: left;
  line-height: 22px;
  /* Style for the left list. */
}

.rightli {
  color: #B9C0BA;
  background-color: #23231A;
  border-radius: 20px;

  margin: auto;
  margin-left: -17px;
  height: 180px;
  width: 250px;
  float: left;
  
  text-align: left;
  /* Style for the right list. */
}

body {
  background: url("images/mountain-road.jpg");  
  background-size: cover;
  /* Sets the background image on the body of the page, for simplicity. */
}

header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;

  border-radius: 5px;
  color: #DBD3AD;
  background-color: #23231A;
  width: 800px;
  height: max-content;
  margin: auto;
  margin-bottom: -5px;
  /* Style for the header. */
  }

header h1 {
  font-size: 52px;
  letter-spacing: 6px;
  /* Style for the header h1 (title) text. */
}

header h2 {
  margin-top: -5px;
  /* Style for the header h2 (sub-title) text. */
}

main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #23231A;

  background-color: antiquewhite;
  width: 800px;
  height: auto;
  text-align: center;
  padding: 0;
  margin: auto;
  margin-bottom: -4px;
  /* General style for the main container for the webpage. */
}

main article {
  color: #7E4E60;
  margin: 15%;
  margin-top: 0px;
  margin-bottom: 3%;
  padding-top: 0px;
  text-align: left;
  /* Style for the articles (the bulk of the text) featured in the main container. */
}

footer {
  color: #B287A3;
  text-align: center;
  background-color: #23231A;
  height: max-content;
  margin: auto;
  padding: 0;
  width: 800px;
  border-radius: 5px;
  /* Style for the footers. */
}

a:link, a:visited, a:hover, a:active {
  color: #B9C0BA;
  /* Link pseudo-classes. I want them to look the same all the time. */
}

hr {
  border: 6px solid #23231A;
  border-radius: 3px;
  /* Styling for the horizontal rules. */
}